*~

# eclipse output
bin/

#gradle config
.gradle/

# gradle output
dist/
build/

#example classes and annotated output
ontologyExample/**/*.class
ontologyExample/annotated
ontologyExample/default.jaif