*~

#gradle config
.gradle

# gradle output
dist/
build/

# test output
testdata/

# corpus
corpus/
worked-benchmarks/

#example classes and annotated output
ontologyExample/**/*.class
ontologyExample/annotated
ontologyExample/default.jaif

#archive test cases
intersectionTest/
missingAnno/
superTypeArgTest/
unsat/
violateCons/